.nav {
  position: fixed;
  top: 45px;
  left: 50px;
  text-decoration: none;
  display: flex;
  z-index: 99;
  transition: .3s;
}
.nav:hover {
  transform: scale(0.95);
}
.wrapper {
  height: 100vh;
  background-color: black;
  color: white;
}
.nav {
  cursor: pointer;
}
.menu {
  width: 100vw;
  height: inherit;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-item a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.menu-item a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.menu-item {
  font-size: 3.5vw;
  font-weight: bolder;
  font-family: Maven Pro;
  text-transform: uppercase;
  color: white;
  margin: 1vh 0;
  cursor: pointer;
  position: relative;
}
.menu-item__link {
  text-decoration: none;
  color: white;
}
.main > div {
  height: 100%;
}