.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.half-size-item {
  width: 50vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.bar_content_bg {
  width: 100%;
  height: 100vh;
}
.half-size-item__image {
  display: block;
  // width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.half-size-item__desc {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Maven Pro;
  font-size: 1.25rem;
  color: #FFFFFF;
  letter-spacing: 4.01px;
  text-align: center;
  line-height: 28px;
  text-shadow: 0 0 6px rgba(0,0,0,0.50);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.button {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 21px;
  float: left;
  z-index: 1;
}
.button__link {
  width: 230px;
  border: 2px solid #FFFFFF;
  border-radius: 21px;
  font-family: Maven Pro;
  font-size: 13px;
  letter-spacing: 2.61px;
  text-align: center;
  padding: 3px 0;
  text-decoration: none;
  position: relative;
  color: #fff;
  display: block;
  transition: 1s;
  text-transform: uppercase;
  line-height: 28px;
}
.button::after {
  content: '';
  width: 100%;
  height: 0%;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  background: #fff;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: .5s;
}
.button:hover::after {
  height: 600%;
}
.button:hover a {
  color: #000;
}
#root {
  height: 100%;
}
#menu_text {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-family: Maven Pro;
  letter-spacing: 2.81px;
  text-align: center;
  padding-left: 20px;
}
#go-arrow {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
.header__logo {
  position: fixed;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  z-index: 9;
}
.header__logo__img {
  width: 90px;
  height: auto;
}
.main__nav {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  opacity: 1;
  background: rgba(0,0,0,.95);
  top: 0;
  left: 0;
  display: none;
}

.main__nav__exit {
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 30px;
  padding: 50px 50px;
  cursor: pointer
}

.main__nav__container {
  width: 50vw;
  height: 100vh;
  left: 20vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: 800;
  font-size: 3vw;
  color: #fff;
  position: absolute;
  top: 0;
  flex-direction: column
}

.main__nav__item {
  text-transform: uppercase;
  padding: 15px 0;
  cursor: pointer
}

.main__nav__item__link {
  text-decoration: none;
  color: #fff
}
.half-size-item__text--non-transparent {
  background: #000;
  color: #fff;
}
.half-size-item__text {
  letter-spacing: 2.81px;
  line-height: 28px;
  width: 100vw;
}
.half-size-item__title {
  letter-spacing: 2.81px;
  line-height: 28px;
  width: 45vw;
}
.half-size-item__text__content {
  overflow: auto;
  padding: 30px 60px;
}
.half-size-item__text__cutter::-webkit-scrollbar {
  -webkit-appearance: none;
}
.half-size-item__text__content__other_container {
  display: flex;
  align-items: center;
  min-height: 100%;
}
.half-size-item__text__cutter {
  height: calc(100vh - 40px);
  width: calc(100vw - 22px);
  overflow-x: auto;
  top: 22px;
  right: 22px;
  position: absolute;
  padding-left: 50vw;
}
.half-size-item__text__cutter--left {
  width: calc(50vw - 22px);
  padding-left: 22px;
  padding-right: 0;
}
.half-size-item__text--pages {
  font-family: 'Lato';
}
.half-size-item__text__content--justify {
  text-align: justify;
  text-justify: inter-word;
}
.button--align_right {
  float: right;
}
.half-size-item__text__content__bigger {
  font-weight: 600;
}
.buttons__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.button__link--mini {
  width: 170px;
  font-size: 12px;
}
.half-size-item__image {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
.button__link {
  pointer-events: auto;
}